table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
    border: 1px solid #dddddd00;
  }
  
  th, td {
    border: 1px solid #dddddd00;
    padding: 10px;
  }
  
  th {
    background-color: #04ffde;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: antiquewhite;
  }
  
  tr:hover {
    background-color: beige;
  }
  